.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(228, 33%, 97%);
    padding-top: 5%;
}


main {
    width: 75%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

div {

    width: 75%;
    margin: 5px auto 20px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-size: 1em;
    padding: 0em;
    position: relative;
    bottom: 2em;
    /* position: relative;
    top: 50%; */

}

h2 {
    font-size: 1em;
    padding: auto;
    display: block;
    clear: both;
}

img {
    width: 2em;
}

.activity {
    color: hsl(211, 10%, 45%);
}


.blue {
    color: hsl(238, 40%, 52%);
    font-weight: bold;
}



.blue:hover,
.red:hover {
    opacity: .5;
}

.red {
    color: hsl(358, 79%, 66%);
}

.right_header {
    float: right;
    margin: .25em;
    font-weight: bold;
}

.reply {
    position: relative;
    left: 12%;
    width: 50%;


}

button {
    position: relative;
    left: 30px;
    top: 60px;
    border: none;
    border-radius: 10px;
    padding: .5em;
    height: 5em;
}


.vote {
    color: hsl(238, 40%, 52%);
    font-weight: bold;
}

/* input{
    border-color: hsl(223, 19%, 93%);
    width: 70%;
    height: 30%;
} */


.comment_input {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  

}

#add_comment{
    width: 65%;
    margin: auto;
    border-color: hsl(223, 19%, 93%);
    border-radius: 10px;
    position: relative;
    left: 5%;
}

.self{
    position: relative;
    bottom: 5em;
    left: 2.5%;

}

.send_comment{
    background-color: hsl(238, 40%, 52%);
    color: white;
    width: 15%;
    height: 40px;
    position: absolute;
    top: 10%;
    left: 80%;
 

}

#comment_container{
    position: relative;
}